.application.home {
  .headings {
    font-weight: $font-weight-medium;
    left: 10%;
    position: absolute;
    top: 35%;
    z-index: $z-index-bump;

    h1:last-of-type {
      color: $color-grey-5;
      margin-bottom: 50px;
      margin-top: 12px;
    }

    hr {
      border: 2px solid $color-grey-9;
      display: inline-block;
      margin: 0;
      vertical-align: top;
      width: 5%;
    }

    p {
      display: inline-block;
      margin-top: -10px;
      padding-left: 24px;
      width: 35%;
    }
  }

  .video-wrapper {
    align-items: center;
    display: flex;
    height: calc(100% - 2 * #{$page-margin});
    justify-content: center;
    overflow: hidden;
    position: absolute;
    right: $page-margin;
    width: 45%;

    // video {
    //   height: 85%;
    // }
  }
}
