<div class="content">
  <div class="headings">
    <h1>Front-End Developer</h1>
    <h1>Designer</h1>
    <hr>
    <p>All-round designer. Front-End developer. Hip hop dance instructor. Board
      game fanatic. Founder of Achievers Lab tutoring headquarters. Allowing
      yourself to dream is the beginning of creation.</p>
  </div>
</div>

<div class="video-wrapper">
  <video autoplay muted loop id="myVideo">
    <source src="/assets/videos/placeholder.mp4" type="video/mp4">
  </video>
</div>
