&  {
  nav {
    height: $main-nav-height;

    span {
      font-family: $font-family-montserrat;
      font-size: 20px;
      line-height:  $main-nav-height;;
      margin: 0 $main-nav-height;;
    }
  }
}
